<h1>Please type new password</h1>

<%= form_with url: save_new_pass_path, data: {turbo: false} do |f| %>
    <div>   
        <br><br>
        <%= "Enter new password" %>
        <br><br>
        <%= f.password_field :new_password1, class: "form-control" %>
        <br>
        <%= "Confirm new password" %>
        <br><br>
        <%= f.password_field :new_password2, class: "form-control" %>
    </div>
    <br>
    <%= link_to "Back", old_password_path, class: 'btn btn-dark' %>
    <%= f.submit :Submit, class: 'btn btn-dark' %>
<% end %>