<h1>Please confirm your old password</h1>

<%= form_with url: authen_password_path, data: {turbo: false} do |f| %>
    <div>   
        <br><br>
        <%= "Enter old password" %>
        <br><br>
        <%= f.password_field :old_password, class: "form-control" %>
    </div>
    <br>
    <%= link_to "Back", profile_path, class: 'btn btn-dark' %>
    <%= f.submit :Submit, class: 'btn btn-dark' %>
<% end %>