<h1>Create new item</h1><br>


<%= form_with url: create_item_path, data: {turbo: false} do |f| %>
    <div><%= f.hidden_field :lock_version %></div>
    <div>   
        <%= f.label :Name, class: "form-label" %>
        <%= f.text_field :new_item_name, class: "form-control" %>
    </div>
    <br>
    <div>
        <%= f.label :Category, class: "form-label" %>
        <%= f.text_field :new_item_category, class: "form-control" %>
    </div><br>
    <div>
        <%= f.label :new_item_enable, "Enable item" %>
        <%= f.select :new_item_enable, options_for_select([["True", true], ["False", false]]), class: "dropdown-item" %>
    </div><br>
    <div class="form-group">
        <%= f.label :new_user_id,"Owner" , class: "form-label" %>
        <%= f.select :new_user_id, User.where(user_type: 1).all.collect { |u| [u.id, u.id] }, class: "form-control" %>
    </div><br>
    <%# <div>    %>
        <%# <%= f.file_field :image, class: "form-control" %> 
    <%# </div><br> %>
    <%= link_to "Back", main_path, class: "btn btn-dark" %>
    <%= f.submit :create, class: 'btn btn-dark' %>
<% end %>