<h1>Sale history</h1>

<table class="table">
    <thead class="thead-dark">        
        <tr>
            <th scope="col"> Item Name </th>
            <th scope="col"> Buyer Name </th>
            <th scope="col"> Date & Time </th>
            <th scope="col"> Total price </th>
        </tr>
    </thead>
    
    <tbody>
        <% @invents.each do |invent| %>
            <% item2 = Item.where(id: invent.item_id).first %>
            <% if session[:user_id] == item2.user_id %>
                <% buyer = User.where(id: invent.user_id).first %>
                    <tr>
                        <td><%= item2.name %></td>
                        <td><%= buyer.name %></td>
                        <td><%= invent.created_at %></td>
                        <td><%= invent.price * invent.qty %></td>
                    </tr>
                <% end %>    
        <% end %>
    </tbody>
</table>

<%= link_to "Back", main_path, class: "btn btn-dark" %>