<div id="<%= dom_id marketplace %>">
  <p>
    <strong>User:</strong>
    <%= marketplace.user_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= marketplace.item_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= marketplace.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= marketplace.stock %>
  </p>

</div>
